{% comment %}
  {% assign avg_rating = block.settings.product.metafields.demo.avg_rating.value | round %}
  <span style="color:{{ block.settings.colour }}">
    {% render 'stars', rating: avg_rating %}
  </span>
  {% if avg_rating >= 4 %}
    <br>
    <img src="{{ "thumbs-up.png" | asset_img_url: '15x' }}" height="15" width="15" loading="lazy">
    {{ 'ratings.home.recommendationText' | t }}
  {% endif %}
{% endcomment %}

{% comment %} schema  {% endcomment %}
{% comment %} x-show="open" {% endcomment %}
{% comment %} "available_if": "{{ app.metafields.conditional.block1 }}", {% endcomment %}

{% comment %}
  <div class="warranty-header">
    <span class="warranty-check">✔</span>
    <p>6 Months of Physical Warranty.</p>
  </div>
{% endcomment %}

{% comment %}
  <div class="warranty-options">
      <h3>Extend Warranty Available</h3>
      <div class="option-grid">
        <button class="option-btn">
          2 Months<br>
          <span>$10.00</span>
        </button>
        <button class="option-btn">
          4 Years<br>
          <span>$15.00</span>
        </button>
      </div>

        <h3>Damage Warranty Available</h3>
        <div class="option-grid">
            <button class="option-btn">2 Months<br><span>$2.00</span></button>
        </div>
    <button
      class="purchase-btn"
      :style="open ? 'background: green; color: white;' : `background: black;`"
      type="button"
      @click="toggle"
    >
      Purchase With Warranty
    </button>
  </div>
{% endcomment %}

<head>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.8/dist/cdn.min.js"></script>
</head>

<div
  class="warranty-container"
  x-data="warranty"
  data-app-url="https://mentor-refrigerator-seen-chicks.trycloudflare.com"
  data-product-id="{{ product.id }}"
  data-customer-id="{{ customer.id }}"
  data-shop-domain="{{ shop.permanent_domain }}"
  data-product="{{ request.path }}"
>
  <div class="warranty-card" x-show="open">
    <!-- Warranty Details Section -->
    <div class="warranty-details">
      <p>
        Warranty Clauses:
        <a href="#" @click.prevent="openModal" class="highlight">View</a>
      </p>
    </div>

    <!-- Warranty Options Section -->
    <div class="warranty-options">
      <h3>Warranty's Available</h3>
      <div
        class="option-grid"
        :class="{ 'two-options': warrantyOptions.length > 1 }"
      >
        <template x-for="option in warrantyOptions" :key="option.name">
          <button
            :class="
              {
                'option-btn active': selectedWarrantyName === option.name,
                'option-btn': selectedWarrantyName !== option.name
              }
            "
            @click="selectWarranty(option)"
          >
            <span x-text="option.duration"></span>
            <span x-text="option.price"></span>
            <span style="display: none;" x-text="option.warranty_variant_id"></span>
          </button>
        </template>
      </div>
      <span x-text="warrantyType"></span>
      <div x-data="{ cartLoader: false }">
        <button
          class="purchase-btn"
          @click="AddToCart"
          :disabled="cartLoader"
        >
          <span x-show="!cartLoader">Purchase With Warranty</span>
          <span x-show="cartLoader" class="loader"></span>
        </button>
      </div>
    </div>
  </div>

  {% render 'modal' %}
</div>

<script>
  const data = {
      "home" : {{ request.path | json }},
  }
</script>

{% comment %} <p> taha {{ product.metafields.my_app_namespace.my_app_metafield.value }} </p> {% endcomment %}
{% comment %} {{ theme.settings.appUrl }} {% endcomment %}

{% comment %}
  <script>
      window.warrantyData = {
          productId: '{{ product.id }}',
          customerId: '{{ customer.id }}',
          shopDomain: '{{ shop.permanent_domain }}',
      };
  </script>
{% endcomment %}

{% schema %}
{
  "name": "Warranty",
  "target": "section",
  "stylesheet": "warranty.css",
  "javascript": "warranty.js",

  "settings": [
    { "type": "product", "id": "product", "label": "product", "autofill": true },
    { "type": "color", "id": "colour", "label": "Star Colour", "default": "#ff0000" }
  ]
}
{% endschema %}
